.header {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 6px solid #000;

  .img {
    position: absolute;
    width: 150px;
    height: 87px;
  }

  .img1 {
    top: 130px;
    left: 0;
    transform: translateX(-40px);
    z-index: -1;
  }

  .img2 {
    top: 0;
    right: 0;
    width: 150px;
    height: 87px;
  }
}

.navbar {
  position: relative;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 1fr;
  background-color: #fff;
  border: 5px solid #000;
  width: 56vw;
  height: 90px;
  -webkit-box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.25);
box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.25);
  .rectangle{
    position: absolute;
    width: 14px;
    height: 14px;
    -webkit-box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.25);
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.25);
  }
  .rectangle1{
    top: 0;
    left: 0;
    transform: translate(-15px, -10px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .rectangle2{
    bottom: 0;
    left: 0;
    transform: translate(-15px, 10px);
  }
  .rectangle3{
    bottom: 0;
    right: 0;
    transform: translate(15px, 10px);
  }
  .rectangle4{
    top: 0;
    right: 0;
    transform: translate(15px, -10px);
  }
  .logo {
    display: flex;
    align-items: center;
    border-right: 4px solid #000;
    font-weight: 700;
    .text{
      margin-left: 20px;
      line-height: 1.5;
    }
  }
  .a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    border-right: 4px solid #000;
    font-weight: 500;
    line-height: 1.5;
    z-index: 1;
    

    
    &::after{
      content: "";
      position: absolute;
      height: 10px;
      width: 90px;
      background-color: #FFDC58;
      z-index: -1;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }
    &:hover{
      &::after{
        transform: scaleX(1);
      }
    }
  }
  a:last-child{
    border-right: none;
  }

  /* Liens de navigation supplémentaires (pour l'overlay) */
  #button{
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    @media (max-width: 900px) {
      display: none; // Masquer les liens dans la barre de navigation sur mobile
    }
  }
}

/* Styles pour l'overlay du menu mobile */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFDC58;
  /* Couleur jaune */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Assurez-vous qu'il est au-dessus des autres éléments */
  transition: opacity 0.3s ease-in-out;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  font-size: 2rem;
  background-color: #fff;
  padding: 10vw 20vw;
  border-radius: 10px;
  
  .a {
    font-size: 2rem;
    /* Ajustez la taille selon vos besoins */
    color: #000;
    position: relative;
    &.active-link{
      &::after{
        content: "";
        position: absolute;
        top: 20px;
        left: -20px;
        height: 10px;
        width: 90px;
        background-color: rgba($color: #FFDC58, $alpha: .8);
        transform: translateX(40px);
      }
    }

    &::after {
      width: 0;
      /* Désactiver l'underline dans l'overlay */
    }

    &:hover::after {
      transform: none;
    }
  }
}

