@use './_reset';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
    font-family: "Space Grotesk";
    font-weight: 400;
    line-height: 1.5;
    background-color: #FEFFF0;
}
.active{
    transform: scaleX(1);
}
@media (max-width: 1220px) {
    .navbar {
        min-width: 700px;
    }
    .hero {
        height: 950px;
        .content { 
            flex-direction: column;
            gap: 52px;
            height: 56.5rem;
            .text-content {
                width: 100%;
                height: 319px;
                font-size: 2.6rem;
                padding: 0 10vw;
                h1{
                    margin: 0;
                    padding: 0;
                    width: 90%;
                }
            }
            button{
                min-height: 52px;
                flex-shrink: 0;
            }
            .illustration{
                width: 40vw;
                min-width: 276px;
                height: 476px;
            }
        }
    }
}
@media (max-width: 900px){
    .header{
        border-bottom: none;
        .navbar {
            width: 46vw;
            min-width: 271px;
            flex-shrink: 0;
            font-size: 1.2rem;
            .logo{
                border-right: none;
            }
            .a{
                display: none;
            }
        }
        .img{
            display: none;
        }
    }
    
    .Footer{
        justify-content: center;
        height: 276px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}